<button type="button" (click)="navigateBack()" class="btn btn-outline-primary">
  <img class="Icon--back" src="/assets/icons/chevron-left.svg">
  Go back
</button>

<div class="DoctorDetail" style="position: relative;" *ngIf='doctor'>
  <div class="DoctorDetail-imageContainer">
    <img src="/assets/default-doc.jpg" class="DoctorDetail-image" alt="Default doctor image">
  </div>
  <div class="DoctorDetail-info">
    <h4 class="DoctorDetail-info-name">
      {{ doctor.name }}
    </h4>
    <h6 class="DoctorDetail-info-speciality">
      {{ doctor.speciality }}
    </h6>
    <star-rating style="float: left"
          [starType]="'svg'"
          [rating]="rating"
          [showHalfStars]="true"
          [readOnly]="true">
    </star-rating>
  </div>
  <button (click)='removeDoctor()' style="position: absolute; bottom: 10px; right: 10px;" type="button" class="btn btn-danger">Remove doctor</button>
</div>
<app-comments (averageRatingCalculated)='ratingCalculated($event)' *ngIf='doctor'></app-comments>
