<div class="DoctorDetail" *ngIf='doctor'>
  <div class="DoctorDetail-imageContainer">
    <img src="/assets/default-doc.jpg" class="DoctorDetail-image" alt="Default doctor image">
  </div>
  <div class="DoctorDetail-info">
    <h4 class="DoctorDetail-info-name">
      {{ doctor.name }}
    </h4>
    <h4 class="DoctorDetail-info-speciality">
      <strong>{{ doctor.speciality }}</strong>
    </h4>
    <star-rating 
          [starType]="'svg'"
          [rating]="rating"
          [showHalfStars]="true"
          [readOnly]="true">
    </star-rating>
  </div>
  <button (click)='removeDoctor()' type="button" class="btn btn-danger">Remove doctor</button>
</div>
<app-comments (averageRatingCalculated)='ratingCalculated($event)' *ngIf='doctor'></app-comments>
