<div class="row">
  <div class="col-md-8">
    <form>
      <div class="form-group">
        <label for="comment">Rate doctor:</label>
        <star-rating 
          (ratingChange)="onRatingChange($event)" 
          [hoverEnabled]="true" 
          [starType]="'svg'"
          [rating]="rating"
          [showHalfStars]="true"
          size="large">
        </star-rating>
        <textarea [(ngModel)]="newComment" type="email" class="form-control" id="comment" name="comment" placeholder="Type your comment here"></textarea>
      </div>
      <app-error [errorMessage]='errorMessage'></app-error>
      <button (click)='addComment()' type="submit" class="btn btn-primary">Submit comment</button>
    </form>
  </div>
</div>
<div class="Comments" *ngIf='comments'>
  <div class="Comment" *ngFor='let comment of comments'>
    <button *ngIf='currentUserID === comment.userId' (click)='removeComment(comment.id)' class="btn btn-danger btn-sm">Remove comment</button>
    <h4 class="Comment-author">{{ comment.rating }}</h4>
    <p class="Comment-createdDate">{{ comment.created}}</p>
    <p class="Comment-text">{{ comment.text }}</p>
  </div>
</div>
