<div class="row">
  <div class="col-md-8">
    <form>
      <div class="form-group">
        <label for="comment" style="display: block;">Rate doctor:</label>
        <star-rating
          style="float: left;"
          (ratingChange)="onRatingChange($event)" 
          [hoverEnabled]="true" 
          [starType]="'svg'"
          [rating]="rating"
          [showHalfStars]="true"
          size="large">
        </star-rating>
        <textarea [(ngModel)]="newComment" type="email" class="form-control" id="comment" name="comment" placeholder="Type your comment here"></textarea>
      </div>
      <app-error [errorMessage]='errorMessage'></app-error>
      <button (click)='addComment()' type="submit" class="btn btn-primary">Submit comment</button>
    </form>
  </div>
</div>
<div *ngIf='comments'>
  <div class="row">
    <div class="col-md-8">
      <div class="Comment" *ngFor='let comment of comments'> 
        <div class="Comment-header clearfix">
          <star-rating style="float: left;" [rating]="comment.rating" [readOnly]="true"></star-rating>
          <span class="Comment-createdDate">{{ comment.created}}</span>
        </div>
        Author: <u>{{ comment.username }}</u>
        <p class="Comment-text mt-2 mb-3">{{ comment.text }}</p>
        <button *ngIf='currentUserID === comment.userId' (click)='removeComment(comment.id)' class="btn btn-danger btn-sm RemoveButton">Remove comment</button>
      </div>
    </div>
  </div>
</div>
